.form_exe {
  color: #1abc9c;
  font-size: larger;
}

.headers {
  color: #e67e22;

}

th,
td {
  color: #1abc9c;
  text-align: center;
}

#image_book {
  margin-top: 1%;
  float: left;
  margin-left: 5%;
}


.form {
  display: block;
  margin-left: 10%;
  margin-right: auto;
  float: left;
  width: 30%;
}

.table_books {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.h_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

#h_form_books {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  float: left;
}

nav {
  margin: 27px auto 0;
  position: relative;
  width: 80%;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1) {
  width: 20%;
}

a:nth-child(2) {
  width: 20%;
}

a:nth-child(3) {
  width: 20%;
}

a:nth-child(4) {
  width: 20%;
}

a:nth-child(5) {
  width: 20%;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 20%;
  left: 0;
  background-color: #1abc9c;
}

nav .start-books,
a:nth-child(2):hover~.animation {
  width: 20%;
  left: 20%;
  background-color: #e74c3c;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
  width: 20%;
  left: 40%;
  background-color: #3498db;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
  width: 20%;
  left: 60%;
  background-color: #9b59b6;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
  width: 20%;
  left: 80%;
  background-color: #e67e22;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: #2c3e50;
}

h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

p {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #ecf0f1;
  font-family: 'Cherry Swash', cursive;
  font-size: 16px;
}

span {
  color: #2BD6B4;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.search-bar {
  height: 44px;
  width: 200px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  position: relative;
  background: #fff;
  float: right;
  margin: 1%;
  margin-right: 10%;
}

.input {
  border: none;
  height: 25px;
  width: 150px;
  color: #1b1b1b;
  font-size: 15px;
  outline: none;
}

.input:not(:placeholder-shown)+.label {
  font-size: 9px;
  top: 3px;
  color: #00c853;
}

.input:focus~.label {
  font-size: 9px;
  top: 3px;
  color: #4279a3;
  transition: all 0.5s ease;
}

.label {
  color: #aaaaaa;
  position: absolute;
  top: 13px;
  pointer-events: none;
  transition: all 0.5s ease;
}

.search-btn {
  background: #4279a3;
  border-radius: 20px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: center;
  cursor: pointer;
  right: 2px;
  position: absolute;
  transition: all 1s ease;
}

.icon {
  display: inline-flex;
}

.icon-18 {
  width: 18px;
  height: 18px;
}

.highlight {
  width: 0px;
  height: 1px;
  background: #4279a3;
  position: absolute;
  bottom: 8px;
  transition: all 1s ease;
}

.input:focus~.highlight {
  width: 150px;
  transition: all 1s ease;
}

#table_books_php {
  clear: both;
}